<form id="addToCartForm">
  <label for="cid">CID:</label>
  <input type="text" id="cid" name="cid" value="valor_del_cid">
  <label for="pid">PID:</label>
  <input type="text" id="pid" name="pid" value="valor_del_pid">
  <button type="submit">Agregar al carrito</button>
</form>